html, body {
    width: 300px;
}

div.closed_tabs {
    margin: 8px 0px 8px 0px;
    cursor: pointer;
    border-radius: 5px;
    width: 95%;
}

div.closed_tabs:hover {
    background-color: #f0f0f0;
}

p.title, p.url {
    margin: 0px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    -moz-user-select: none;
}

p.title {
    font-size: 15px;
}

p.url {
    font-size: 12px;
}

p#no_tabs_info {
    font-size: 15px;
    display: none;
}

img.favicon {
    width: 15px;
    height: 15px;
}

button#clear {
    font-size: 16px;
    color: white;
    background-color: red;
    border: none;
}

input#search_bar {
    width: 95%;
    height: 15px;
    font-size: 15px;
}
